

/******************************************
/* Doctors section
/*******************************************/

.doctors-section {
    width: 100%;
    height: 600px;
    background: url(../images/dental-about-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

.mission-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: rgb(241,249,253);
}

.mission-section div {
    width: 50%;
    height: 500px;
}

.mission-img {
    width: 100%;
    height: 100%;
}

.mission-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mission-text {
    width: 100%;
    max-width: 495.69px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.mission-text h2 {
    font-size: 2.2rem;
    font-weight: 200;
    color: #0A6076;
}

.mission-text p {
    font-size: 3.8rem;
    font-weight: 200;
    color: #292834;
}


.mission-text p > span {
    font-family: 'Caveat', cursive;
    font-size: 3.0rem;
}

.mission-text p > span + span {
    color: rgb(0, 182, 202);
}

.mission-text a {
    display: block;
    width: fit-content;
    background-image: linear-gradient(var(--colorEight), var(--colorNine));
    padding: 15px 38px;
    font-size: 1.2rem;
    font-family: "Arimo";
    border-radius: 100px;
    text-decoration: none;
    color: var(--colorTwo);
    transition: .3s ease-in-out;
    margin-top: 30px;
}

.mission-text a:hover {
    background-image: linear-gradient( to top, var(--colorEight), var(--colorNine));
    color: var(--colorTwo);
}

/******************************************
/* Media Queries
/*******************************************/

@media  screen and (max-width:1024px) {

    .mission-text {
        padding: 20px;
    }
}

@media  screen and (max-width:1024px) {

    .doctors-section {
        background-position: center right;
    }
}


@media  screen and (max-width:768px) {

    .mission-section div {
        width: 100%;
    }
    
}