:root {
    --colorOne: rgb(211,211,211);
    --colorTwo: rgb(255,255,255);
    --colorThree: #127486;
    --colorFour: rgb(116,128,124);
    --colorFive: #292929;
    --colorSix: rgb(207,216,218);
    --colorSeven: #4A4F52;
    --colorEight: rgb(0,103,124);
    --colorNine: rgb(0,139,160);
    --colorTen: #0C4E59;
    --colorEleven: #00909D;
    --colorTwelve: #0B647A;
    --colorThirteen: rgb(0,198,253);
    --colorFourteen: rgb(0,227,209);
    --colorFifteen: rgb(34,230,167);
    --colorSixteen: rgb(51,151,167);
    --colorSeventeen: rgb(0,89,109);
    --colorEighteen: #19BFD1;
}

/* Box Model Hack */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
    font-size: 62.5%;
}

body {
    font-family: "Fira Sans";
}


/******************************************
/* Header section
/*******************************************/

.top-header {
    max-width: 1200px;
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: -1;
}

.top-header-box-1 {
    width: 100%;
    max-width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--colorOne);
}

.top-header-box-1 a{
    color: var(--colorThree);
    font-size: 2.1rem;
    text-decoration: none;
}

.top-header-box-1 a:hover {
    color: var(--colorFour);
    transition: .3s ease-in-out;
}

.top-header-box-2 {
    width: 100%;
    max-width: 60%;
    border-right: 1px solid var(--colorOne);
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: var(--colorFive);
    font-size: 1.6rem;
}

.top-header-box-3 {
    width: 100%;
    max-width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: 15px;
    padding-left: 20px;
}

.ionicon {
    color: var(--colorSix);
    color: red;
}

.ionicon:hover {
    color: var(--colorFour);
    color: black;
}


/******************************************
/* NAV section
/*******************************************/


.navigation-header {
    width: 100%;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background: var(--colorTwo);
}

.navigation {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--colorOne);
}

.nav-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
}

.nav-menu {
    width: 70%;
}


.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 30px;
}

.nav-list a {
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--colorSeven);
}

.nav-list a:hover {
    color: var(--colorThree);
}

.nav-list .active {
    color: var(--colorThree);
}

.nav-list .nav-list-btn {
    background-image: linear-gradient(var(--colorEight), var(--colorNine));
    padding: 15px 20px;
    border-radius: 100px;
    color: var(--colorTwo);
    transition: .3s ease-in-out;
}

.nav-list .nav-list-btn:hover {
    background-image: linear-gradient( to top, var(--colorEight), var(--colorNine));
    color: var(--colorTwo);
}


/******************************************
/* Hero section
/*******************************************/

.hero-section {
    min-height: 75vh;
    background: url(../images/hero-bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hero-section > div {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.hero-section > div h1 {
    font-size: 8.5rem;
    max-width: 638px;
    font-weight: 200;
    color: var(--colorTen);
}

.hero-section > div h2 {
    font-size: 3.6rem;
    max-width: 638px;
    font-weight: 200;
    color: var(--colorEleven);
    margin-bottom: 60px;
}

.hero-section > div a {
    font-family: "Arimo";
    font-size: 1.5rem;
    max-width: 638px;
    font-weight: 700;
    color: var(--colorTwelve);
    text-decoration: none;
    background: var(--colorTwo);
    padding: 20px 40px;
    border-radius: 100px;
    outline: none;
    transition: .3s ease-in-out;
}

.hero-section > div a:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background: none;
  border: 2px solid var(--colorTwo);
  color: var(--colorTwo);
}

/******************************************
/* big section
/*******************************************/

.big-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    /* max-width: 1200px; */
    margin: auto;
    padding: 100px 0;
    background-image: linear-gradient(rgb(0,84,106), rgb(0,158,174));
}

.big-section article {
    width: 100%;
    max-width: 357px;
    height: 408px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-image: linear-gradient(rgb(0,101,121), rgb(0,129,148));
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--colorTwo);
    padding: 36px;
    text-align: center;
}

.big-section .icon1 {
    font-size: 5.8rem;
    color: var(--colorThirteen);
}

.big-section .icon2 {
    font-size: 5.8rem;
    color: var(--colorFourteen);
}

.big-section .icon3 {
    font-size: 5.8rem;
    color: var(--colorFifteen);
}

.big-section article h3 {
    font-size: 3.6rem;
    font-weight: 200;
}

.big-section article p {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 2.8rem;
}

.big-section article a {
    font-size: 1.2rem;
    padding: 10px;
    color: var(--colorTwo);
    background: var(--colorSixteen);
    border-radius: 100px;
    text-decoration: none;
}


/******************************************
/* Appointment section
/*******************************************/

.appointment-section {
    background: var(--colorSeventeen);
    width: 100%;
    height: 383px;
    padding: 80px 0;
}

.appointment-section section {

}

.appointment-section section h4 {
    font-size: 2.2rem;
    color: var(--colorEighteen);
}

.appointment-section section h2 {
    font-size: 3.8rem;
    color: var(--colorTwo);
}

.appointment-section section p {
    font-size: 2rem;
    color: var(--colorTwo);
}


/******************************************
/* Services section
/*******************************************/


/******************************************
/* About section
/*******************************************/


/******************************************
/* Review section
/*******************************************/


/******************************************
/* Patient Care Section
/*******************************************/


/******************************************
/* Meet Drs section
/*******************************************/

/******************************************
/* Sign In section
/*******************************************/


/******************************************
/* Latest News section
/*******************************************/

/******************************************
/* Appointment section
/*******************************************/

/******************************************
/* Contacts section
/*******************************************/

/******************************************
/* Footer
/*******************************************/